models/checkpoints/*
models/CLIP/*
models/tokenizer/*
!models/checkpoints/.gitkeep
!models/CLIP/.gitkeep
!models/tokenizer/.gitkeep
!models/tokenizer/sdxl_tokenizer
!models/tokenizer/sdxl_tokenizer_2
!models/tokenizer/sd15_tokenizer
output/*
!output/.gitkeep
*.pyc
__pycache__/
__pycache__

# debugging
architecture_test_sd15.py
architecture_test.py
latent_test.py
latent_test_sd15.py